.button {
	-fx-text-fill: white;
	-fx-font-weight: bold;
	-fx-min-height: 36;
	-fx-min-width: 80;
	-fx-background-color: linear-gradient(#ea1e4c, #dd0a20);
}

.button:hover {
	-fx-background-color: linear-gradient(#F92A61, #F51031);
}

.text-field {
	-fx-min-width: 250;
	-fx-min-height: 37;
}

.tab-pane, .tab {
	-fx-background-color: #fafafa;
}